/* Local */

.imagen-mapa {
  padding: 40px;
}

.descripcion-mapa {
  padding: 2rem;
}

.imagen-mapa img {
  height: relative;
  width: relative;
  max-height: 500px;
  max-width: 450px;
  border-radius: 50px;
  padding: 10px;
}

.imagen-mapa iframe {
  height: relative;
  width: relative;
  max-height: 500px;
  max-width: 450px;
  border-radius: 50px;
  padding: 10px;
}

.img-ubicacion {
  padding: 1.5rem;
}

.mapa-ubicacion {
  padding: 1.5rem;
}
